@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #0a0a0a;
  /*PERSONALIZACIÓN DE BARRA DE NAVEGACIÓN DE BOOTSTRAP*/
  /*  FOOTER  */
  /*  FORMULARIO DE CONTACTO  */ }
  body .encabezado {
    width: 100%;
    padding: 200px 100px;
    text-align: center;
    background: url("../imgIndex/foto-index.jpg");
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: soft-light;
    background-size: contain;
    background-position: center;
    margin-left: auto;
    margin-right: auto; }
    @media (max-width: 576px) {
      body .encabezado {
        padding: 30px 0px; } }
    body .encabezado .encabezado__h1 {
      color: rgba(167, 165, 160, 0.5);
      font-family: 'Cormorant', serif;
      font-size: 2rem;
      font-weight: normal; }
      @media (max-width: 576px) {
        body .encabezado .encabezado__h1 {
          font-size: 1rem; } }
    body .encabezado .encabezado__h2 {
      color: rgba(167, 165, 160, 0.5);
      text-align: center;
      font-family: 'Cormorant', serif;
      font-size: 1rem;
      font-weight: normal; }
      @media (max-width: 576px) {
        body .encabezado .encabezado__h2 {
          font-size: 0.7rem; } }
  body .container-fluid {
    padding: 0px !important; }
    body .container-fluid .nav-link {
      font-family: 'Cormorant', serif !important;
      transition: all 2s ease !important; }
      body .container-fluid .nav-link:hover {
        transform: scale(1.2, 1.2) !important;
        color: #e6a6a6 !important; }
  body .contenedor {
    width: 100%;
    height: auto;
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr, 4fr);
    grid-template-areas: "cita cita" "area1 area2" "area1 area2";
    grid-gap: 10px; }
    @media (max-width: 576px) {
      body .contenedor {
        grid-template-areas: "cita cita" "area1 area1" "area2 area2"; } }
    @media (max-width: 768px) {
      body .contenedor {
        grid-template-areas: "cita cita" "area1 area1" "area2 area2"; } }
    body .contenedor .cita {
      grid-area: cita;
      color: #949494;
      text-align: center;
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 1.2rem;
      font-weight: normal;
      padding: 30px 0px 30px 0px; }
      @media (max-width: 576px) {
        body .contenedor .cita {
          font-size: 0.7rem;
          padding: 10px 0px 10px 0px; } }
    body .contenedor .area1 {
      grid-area: area1; }
      body .contenedor .area1 .area1__h3 {
        background: linear-gradient(to right, rgba(255, 0, 0, 0), #363636);
        color: rgba(167, 165, 160, 0.5);
        font-family: 'Cormorant', serif;
        text-align: center;
        padding: 20px;
        font-size: 1.5rem; }
        @media (max-width: 576px) {
          body .contenedor .area1 .area1__h3 {
            font-size: 1rem; } }
      body .contenedor .area1 .area1__p {
        color: #949494;
        font-family: 'Open Sans Condensed', sans-serif;
        text-align: center;
        width: 95%;
        font-size: 1rem;
        padding-left: 25px;
        padding-top: 25px; }
        @media (max-width: 576px) {
          body .contenedor .area1 .area1__p {
            font-size: 0.7rem;
            padding: 0px; } }
      @media (max-width: 576px) {
        body .contenedor .area1 {
          margin: 0px 5px; } }
    body .contenedor .area2 {
      grid-area: area2; }
      body .contenedor .area2 .area2__h3 {
        background: linear-gradient(to left, rgba(255, 0, 0, 0), #363636);
        color: rgba(167, 165, 160, 0.5);
        font-family: 'Cormorant', serif;
        text-align: center;
        padding: 20px;
        font-size: 1.5rem; }
        @media (max-width: 576px) {
          body .contenedor .area2 .area2__h3 {
            font-size: 1rem; } }
      body .contenedor .area2 .galeria {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-top: 25px;
        grid-gap: 5px; }
        body .contenedor .area2 .galeria .galeria__img {
          width: 150px;
          height: 200px;
          object-fit: cover;
          transition: all 2s ease; }
          body .contenedor .area2 .galeria .galeria__img:hover {
            transform: scale(1.5, 1.5); }
        @media (max-width: 576px) {
          body .contenedor .area2 .galeria {
            grid-template-columns: repeat(2, 2fr); } }
      body .contenedor .area2 .galeriaProducto {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px; }
        body .contenedor .area2 .galeriaProducto .fotoProducto {
          width: 200px;
          height: 150px;
          object-fit: cover;
          transition: all 2s ease; }
          body .contenedor .area2 .galeriaProducto .fotoProducto:hover {
            transform: scale(1.5, 1.5); }
          @media (max-width: 576px) {
            body .contenedor .area2 .galeriaProducto .fotoProducto {
              width: 320px;
              height: 220px; } }
          @media (min-width: 768px) {
            body .contenedor .area2 .galeriaProducto .fotoProducto {
              width: 236px;
              height: 150px; } }
        @media (max-width: 576px) {
          body .contenedor .area2 .galeriaProducto {
            grid-template-columns: repeat(1, 1fr); } }
  body .gradienteFooter {
    background: linear-gradient(to left, rgba(255, 0, 0, 0), #363636); }
    body .gradienteFooter .linkfooter {
      text-decoration: none;
      color: #e8eef0;
      font-family: 'Cormorant', serif;
      padding: 30px 0px 0px 30px; }
      body .gradienteFooter .linkfooter:hover {
        color: #e6a6a6 !important; }
    body .gradienteFooter .copyright {
      text-decoration: none;
      color: #e8eef0;
      font-family: 'Cormorant', serif;
      text-align: left;
      padding-left: 30px; }
  body .formulario {
    margin: 50px 50px 50px 50px;
    text-align: center; }
    body .formulario legend {
      color: #555555;
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      padding: 25px; }
      @media (max-width: 576px) {
        body .formulario legend {
          font-size: 1rem; } }
    body .formulario label {
      color: #555555;
      font-family: 'Montserrat', sans-serif;
      text-align: center; }
    @media (max-width: 576px) {
      body .formulario {
        margin: 10px;
        font-size: 0.7rem; } }
